* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  letter-spacing: 0.5px;
}

body {
  margin: auto;
  width: 82rem;
  background-color: #000000;
}

@media (max-width: 1340px) {
  body {
    width: 65rem;
  }
}

@media (max-width: 1110px) {
  body {
    width: 48rem;
  }
}

@media (max-width: 785px) {
  body {
    width: 100%;
  }
}
