.accordion-main {
  margin: 0 auto;
  padding: 2rem 0;
  width: 45rem;
  color: #ffff;
}

.accordion-main h1 {
  padding-bottom: 2rem;
  text-align: center;
}

@media (max-width: 1340px) {
  .accordion-main {
    width: 35rem;
  }
}

@media (max-width: 1110px) {
  .accordion-main {
    width: 25rem;
  }
}

@media (max-width: 770px) {
  .accordion-main {
    width: 18rem;
  }
}
